@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


/************      container       ************/

.container{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



/**********     nav      **********/

.nav{
    height: 70px;
    width: 100%;
    background-color:#454545;
    display: flex;
    align-items: center; 
    justify-content: space-between;
}


/***********       logo      ***********/


.logo{
    height: 90px;
    width:25%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img{
    height: 55px;
    width: 200px;
    cursor: pointer;
}



/***********       icon      ***********/

.icon{
    height: 90px;
    width:40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(180, 176, 176);
    font-size: 27px;
    margin-right: 40px;
    cursor: pointer;
}
.icon input{
    height: 36px;
    width: 280px;
    border-radius: 20px;
    padding-left: 30px;
    border: none;
    font-size: 15px;
}
.nav ul{
    list-style: none;
}
.circle{
    height: 16px;
    width: 16px;
    border-radius: 50px;
    background-color:#FC9E47;
    position: relative;
    bottom: 16px;
    right: 39px;
    
}
.circle p{
    font-size: 15px;
    color: white;
    font-weight: 300;
    text-align: center;
}

.media-nav{
    display: none;
}
.media-search{
    display: none;
}



/**********      orange-nav     ***********/

.orange-nav{
    height: 100px;
    width: 100%;
    background: rgb(252,158,71);
    background: linear-gradient(90deg, rgba(252,158,71,1) 35%, rgba(251,194,141,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}


/***********    white-nav     **********/


.white-nav{
    height: 100px;
    width: 85%;
    background-color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: relative;
    top: 40px;
}



/**********    nav-icon    ***********/


.nav-icon{
    height: 30px;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 10px;
}

.nav-icon h5{
    font-size:14px;
    font-weight: 400;
    text-align: center;
}
.white-nav ul{
    list-style: none;
}
.nav-icon span{
    height: 90px;
    width: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;

}
.nav-icon span img{
    height: 50px;
}

.nav-icon :hover{
    color:  #FC9E47;
    cursor: pointer;
}




/***********      image-section     ***********/

.image-section{
    height:500px ;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    cursor: pointer;
}
.image-section img{
    height: 500px;
    width:100%;
}




/*******    chat     *******/

.chat{
    height: 60px;
    width: 60px;
    background-color: #FC9E47;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: white;
    position: fixed;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
}




/*************    list   ************/

.list{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.part-1{
    height: 80px;
    width:200px ;
    display: flex;
}

/*******   image-1    ********/

.image-part{
    height: 80px;
    width: 40px;
    margin-bottom: 20px;
    
}
.image-part img{
    height: 80px;
    width: 40px;
    
}




/*******   shipping    ********/

.shipping{
    height: 80px;
    width: 550px;
    margin-left: 5px;
    padding-top: 35px;

}
.shipping h1{
    font-size: 13px;
    font-weight: 600;
}



.list ul{
    list-style: none;
}




/*************     product     **********/

.product{
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.product-list{
    width: 610px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;

    

    
}
.product-list button{
    height: 55px;
    width: 150px;
    font-size: 20px;
    font-weight: 500;
    margin-right: 5px;
    background-color: transparent;
    border: 1px solid rgb(171, 170, 170);
    cursor: pointer;

}
.product-list span button{
    border: 2px solid #FC9E47;
}
.product ul{
    list-style: none;
}




/*********      item      ********/

.item{
    height: 450px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}



/**********      item-list       *********/

.item-list{
    height: 400px;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



/********    box-a      ********/

.box-a{
    height: 400px;
    width: 300px;
    
}
.image{
    height: 240px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image img{
    height: 220px;
    width: 230px ;
}
.image:hover{
    box-shadow: rgba(252,185,0,1) 0px 1px 1px;
    cursor: pointer;

}
.box-a h3{
    font-size: 15px;
    font-weight: 900;
    padding-top: 7px;
    cursor: pointer;

}
.box-a p{
    font-size: 15px;
    font-weight: 600;
    padding-top: 7px;
}
.box-a h6{
    font-size: 15px;
    font-weight: 700;
    color: red;
    padding-top: 14px;
}
.box-a button{
    height: 35px;
    width: 75px;
    border-radius: 50px;
    font-size: 17px;
    background-color: #FC9E47;
    color: white;
    margin-top: 30px;
    border: none;
    cursor: pointer;

}
.box-a button:hover{
    background-color: #dc7413;
}





.box-b{
    height: 400px;
    width: 300px;
    
}
.image{
    height: 240px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image img{
    height: 220px;
    width: 230px ;
}
.image:hover{
    box-shadow: rgba(252,185,0,1) 0px 1px 1px;
    cursor: pointer;

}
.box-b h3{
    font-size: 15px;
    font-weight: 900;
    padding-top: 7px;
    cursor: pointer;

}
.box-b p{
    font-size: 15px;
    font-weight: 600;
    padding-top: 7px;
}
.box-b h6{
    font-size: 15px;
    font-weight: 700;
    color: red;
    padding-top: 14px;
}
.box-b button{
    height: 35px;
    width: 75px;
    border-radius: 50px;
    font-size: 17px;
    background-color: #FC9E47;
    color: white;
    margin-top: 30px;
    border: none;
    cursor: pointer;

}
.box-b button:hover{
    background-color: #dc7413;
}



/*********     section     *********/

.section{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F9F9F9;
}



/********     section-1      *******/

.section-1{
    height: 400px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.image-part-1{
    height: 400px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-part-1 img{
    height: 400px;
    width: 400px;
}


.text-part-1{
    height: 400px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
}
.text-part-1 h1{
    font-size: 37px;
    font-weight: 900;
    margin-top: 50px;
}
.text-part-1 p{
    font-size: 18px;
    font-weight: 500;
    padding-top: 10px;
}
.text-part-1 button{
    height: 45px;
    width: 150px;
    margin-top: 20px;
    border-radius: 50px;
    font-size: 16px;
    color: white;
    background-color: #FC9E47;
    border: none;
    cursor: pointer;


}
.text-part-1 button:hover{
    background-color: #dc7413;
}



/********      section-2    *********/

.section-2{
    height: 400px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.image-part-2{
    height: 400px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-part-2 img{
    height: 400px;
    width: 500px;
}


.text-part-2{
    height: 400px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.text-part-2 h1{
    font-size: 37px;
    font-weight: 900;
    margin-top: 50px;
}
.text-part-2 p{
    font-size: 18px;
    font-weight: 500;
    padding-top: 10px;
}
.text-part-2 button{
    height: 45px;
    width: 150px;
    margin-top: 25px;
    border-radius: 50px;
    font-size: 16px;
    color: white;
    background-color: #FC9E47;
    border: none;
    cursor: pointer;


}
.text-part-2 button:hover{
    background-color: #dc7413;
}





/********      section-3    *********/


.section-3{
    height: 350px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.image-part-3{
    height: 350px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-part-3 img{
    height: 250px;
    width: 350px;
}


.text-part-3{
    height: 350px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.text-part-3 h1{
    font-size: 37px;
    font-weight: 900;
}
.text-part-3 p{
    font-size: 18px;
    font-weight: 500;
    padding-top: 10px;
}
.text-part-3 button{
    height: 45px;
    width: 150px;
    margin-top: 25px;
    border-radius: 50px;
    font-size: 16px;
    color: white;
    background-color: #FC9E47;
    border: none;
    cursor: pointer;


}
.text-part-3 button:hover{
    background-color: #dc7413;
}



/********      section-4    *********/

.section-4{
    height: 350px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.image-part-4{
    height: 350px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-part-4 img{
    height: 350px;
    width: 350px;
}


.text-part-4{
    height: 350px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.text-part-4 h1{
    font-size: 37px;
    font-weight: 900;
    margin-top: 50px;
}
.text-part-4 p{
    font-size: 18px;
    font-weight: 500;
    padding-top: 10px;
}
.text-part-4 button{
    height: 45px;
    width: 150px;
    margin-top: 25px;
    border-radius: 50px;
    font-size: 16px;
    color: white;
    background-color: #FC9E47;
    border: none;
    cursor: pointer;


}
.text-part-4 button:hover{
    background-color: #dc7413;
}





/********      section-5    *********/


.section-5{
    height: 430px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.image-part-5{
    height: 450px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-part-5 img{
    height: 450px;
    width: 370px;
}


.text-part-5{
    height: 400px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.text-part-5 h1{
    font-size: 37px;
    font-weight: 900;
}
.text-part-5 p{
    font-size: 18px;
    font-weight: 500;
    padding-top: 10px;
}
.text-part-5 button{
    height: 45px;
    width: 150px;
    margin-top: 25px;
    border-radius: 50px;
    font-size: 16px;
    color: white;
    background-color: #FC9E47;
    border: none;
    cursor: pointer;


}
.text-part-5 button:hover{
    background-color: #dc7413;
}




/********     grid    *********/


.grid{
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}





/********     grid-part    *********/

.grid-part{
    height: 480px;
    width: 93%;
    display: grid;
    grid-template-columns: (3, 1fr);
    grid-template-rows: (2,1fr);
    gap: 2px;
}




/********     box-first     ********/

.box-first{
    height: 500px;
    width: 700px;
    grid-row: 1/3;
    grid-column: 1/2;
    background-image: url(https://i1.wp.com/maplestore.in/wp-content/uploads/2023/05/Screenshot-2020-10-21-at-1.35.34-PM-1170x785-1.png);
    background-position: center;
    background-size: cover;

}
.first-text{
    height: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top:40% ;
    padding-left: 60px;
}
.first-text h1{
    font-size: 33px;
    font-weight: 800;
    color: white;
}
.first-text button{
    height: 40px;
    width: 120px;
    border-radius: 20px;
    background-color: #FC9E47;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border: none;
    margin-top: 5px;
    cursor: pointer;
    


}
.first-text button:hover{
    background-color: #dc7413;
}




/********     box-second     ********/

.box-second{
    height: 250px;
    width: 237px;
    grid-row: 1/2;
    grid-column: 2/3;
    border: 1px solid #9a9a9a;
    display: flex;
    flex-direction: column;
    cursor: pointer;

}

.box-second  img {
    height: 180px;
    width: 230px;
}

.box-second h3{
    font-size: 13px;
    font-weight: 700;
    color: #414141;
    padding-left: 30px;

}
.box-second button{
    height: 40px;
    width: 120px;
    border-radius: 20px;
    background-color: #FC9E47;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border: none;
    margin-top: 5px;
    margin-left: 35px;
    cursor: pointer;

}
.box-second button:hover{
    background-color: #dc7413;
}




/********     box-third     ********/

.box-third{
    height: 250px;
    width: 237px;
    grid-row: 1/2;
    grid-column:3/4;
    border: 1px solid #9a9a9a;
    display: flex;
    flex-direction: column;
    cursor: pointer;

   
}

.box-third  img {
    height: 180px;
    width: 230px;

}

.box-third h3{
    font-size: 13px;
    font-weight: 700;
    color: #414141;
    padding-left: 40px;

}
.box-third button{
    height: 40px;
    width: 120px;
    border-radius: 20px;
    background-color: #FC9E47;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border: none;
    margin-top: 5px;
    margin-left: 35px;
    cursor: pointer;

}
.box-third button:hover{
    background-color: #dc7413;
}




/********     box-fourth     ********/


.box-four{
    height: 248px;
    width: 237px;
    grid-row: 2/3;
    grid-column: 2/3;
    border: 1px solid #9a9a9a;
    display: flex;
    flex-direction: column;
    cursor: pointer;



}
.box-four  img {
    height: 170px;
    width: 230px;

}

.box-four h3{
    font-size: 13px;
    font-weight: 700;
    color: #414141;
    padding-left: 40px;
}
.box-four button{
    height: 40px;
    width: 120px;
    border-radius: 20px;
    background-color: #FC9E47;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border: none;
    margin-top: 5px;
    margin-left: 35px;
    cursor: pointer;

}
.box-four button:hover{
    background-color: #dc7413;
}




/********     box-five     ********/

.box-five{
    height: 248px;
    width: 237px;
    grid-row: 2/3;
    grid-column: 3/4;
    border: 1px solid #9a9a9a;
    display: flex;
    flex-direction: column;
    cursor: pointer;


}
.box-five  img {
    height: 170px;
    width: 230px;
}

.box-five h3{
    font-size: 13px;
    font-weight: 700;
    color: #414141;
    padding-left: 20px;
}
.box-five button{
    height: 40px;
    width: 120px;
    border-radius: 20px;
    background-color: #FC9E47;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border: none;
    margin-top: 5px;
    margin-left: 35px;
    cursor: pointer;

}
.box-five button:hover{
    background-color: #dc7413;
}

.grid-button{
    display: none;
}


/*********     service     ********/

.service{
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.service h1{
    font-size: 30px;
    font-weight: 900;
    padding-top: 20px;
    
}



/*********     service-part     ********/

.service-section{
    height: 250px;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-section img{
    height:250px;
    margin-top: 40px;
    cursor: pointer;

}



/********    digit    ********/

.digit{
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.digit-list{
    height: 200px;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.digit-list img{
    height: 80px;
    width: 100px;
    margin-left: 50px;
   
}
.digit-list p{
    font-size: 15px;
    font-weight: 700;
    color: rgb(106, 106, 106);
}
.digit ul{
    list-style: none;
}



.digit-button{
    display: none;
}
/*********   last-page    *********/

.last-page{
    height: auto;
    width: 100%;
    background-color: rgb(25, 24, 24);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}




/*********    last-1   ********/

.last-1{
    height: 200px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.last-1 h1{
    font-size: 25px;
    font-weight: 900;
    color: white;
}
.last-1 input{
    height: 38px;
    width: 500px;
    border-radius: 50px;
    border: none;
    padding-left: 30px;
    margin-top: 40px;
}
.last-1 button{
    height: 50px;
    width: 200px;
    border-radius: 50px;
    border: 1px solid #FC9E47;
    background-color: transparent;
    font-size: 17px;
    color: #FC9E47;
    margin-left: 20px;
    cursor: pointer;

}
.last-1 button:hover{
    transition: all ease-in-out 0.3s;
    transform: scale(105%);
    
}



hr{
    width: 95%;
    border: 1px solid rgb(191, 190, 190);
    
    
}




/*********      list-part   *********/


.last-2{
    height: 400px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}




/********     mac    *******/

.mac a{
    font-size: 15px;
    font-weight: 500;
    color: rgb(122, 121, 121);
    text-decoration: none;
}
.mac h1{
    color: white;
    font-size: 19px;
    font-weight: 600;
}
.mac li{
    padding-top: 12px;
}
.mac a:hover{
    color: white;
    border-bottom: 2px solid white;
}



/********     list-second   *******/


.list-second h1{
    color: white;
    font-size: 14px;
    font-weight: 400;
}
.last-2 ul{
    list-style: none;
}
.list-second li{
    padding-top: 12px;
}
.list-second h1:hover{
    border-bottom: 2px solid white;
}




/********    last-3     ********/

.last-3{
    height: 230px;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}




/********    last-logo     ********/

.last-logo{
    height: 50px;
    width: 300px;
    padding-bottom:40px;
}
.last-logo img{
    height: 45px;
    width: 200px;
    cursor: pointer;

}




/********    mid-text     ********/

.mid-text{
    height: 100px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.mid-text h3{
    font-size: 18px;
    color: white;
    font-weight: 400;
    text-align: center;
}
.mid-text p{
    font-size: 17px;
    color:rgb(120, 119, 119);
    
    font-weight: 400;
    padding-top: 12px;
}




/******    txt    ******/


.txt{
    height: 100px;
    width: 500px;
    color: white;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.txt h1{
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    
}

.connect{
    width: 120px;
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-between;
    font-size: 25px;
    padding-top: 10px;
    cursor: pointer;
    margin-bottom: 20px;
}

.txt ul{
    list-style: none;
}
.connect li:hover{
    transition: all ease-in-out;
    transform: scale(115%);
}



/******   date   *******/

.date{
    height: 100px;
    width: 300px;
}
.date h5{
    font-size: 18px;
    color:rgb(120, 119, 119);
    
    font-weight: 300;
}
.date h1{
    font-size: 30px;
    font-weight: 900;
    color: white;
    padding-left: 50px;
    padding-top: 10px;
    cursor: pointer;
}
.date p{
    font-size: 18px;
    color:rgb(120, 119, 119);
    font-weight: 300;
    padding-top: 15px;
    cursor: pointer;
    

}

.last-line{
    width: 100%;
    border: 1px solid rgb(191, 190, 190);
}




/*******     copy     *******/

.copy{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(25, 24, 24);
    
}
.copy h3{
    font-size: 18px;
    font-weight: 500;
    color: rgb(119, 117, 117);
}




@media (max-width:768px) {

    .container{
        width: 100%;
        position: relative;
    }
    .nav{
        display: none;
    }
    .media-nav{
        height: 50px;
        width: 100%;
        background-color:#454545;
        display: flex;
        align-items: center; 
        justify-content: space-between;
       
    }
    
    
    .media-logo{
        height:40px;
        width:30%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 40px;
    }
    .media-logo img{
        height: 40px;
        /* width: 200px; */
        cursor: pointer;
    }
    
    
    
    /***********       icon      ***********/
    
    .media-icon{
        width:35%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: rgb(180, 176, 176);
        font-size: 22px;
        cursor: pointer;
    }
    
    .media-nav ul{
        list-style: none;
    }
    .media-circle{
        height: 14px;
        width: 14px;
        border-radius: 50px;
        background-color:#FC9E47;
        position: relative;
        bottom: 14px;
        right: 60px;
        
    }
    .media-circle p{
        font-size: 12px;
        color: white;
        font-weight: 300;
        text-align: center;
    }
    .media-search{

        height: 38px;
        width: 100%;
        display: flex;
        justify-content: center;
        position: absolute;
        top: 30px;

        

    }
    .media-search input{
        width: 95%;
        border-radius: 20px;
        border: none;
        padding-left: 30px;
        font-size: 17px;

    }
    .orange-nav{
        width: 100%;
        height: 150px;
    
    }
    .white-nav{
        width: 90%;
        margin-top: 40px;
    }
    .nav-icon{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
    .nav-icon img{
        width: 40px;
    }
    .nav-icon h5{
        font-size: 14px;
    }
    .nav-icon li:nth-child(6){
        display: none;
    }
    .nav-icon li:nth-child(7){
        display: none;
    }
    .nav-icon li:nth-child(8){
        display: none;
    }
    .nav-icon li:nth-child(9){
        display: none;
    }
    .nav-icon li:nth-child(10){
        display: none;
    }
    .image-section{
        height: 200px;
        width: 100%;
    }
    .image-section img{
        height: 200px;
        width: 100%;
    }
    .list{
        height: 200px;
        width: 100%;
        display: flex;
        flex-direction: column;

    }
    .part-1{
        height: 30px;
        width: 50%;
        margin-right: 170px;

        
       
    }.image-part{
        width: 30px;
    }
    .image-part img{

        width: 30px;
    }
    .shipping h1{
        font-size: 13px;
        padding-bottom: 10px;
    }
    .product{
        height: auto;
        width: 100%;
        margin-top: 70px;


    }
    .product h1{
        font-size: 28px;
    }
    .product-list{
        width: 80%;
    }
    .product button{
        height: 150px;
        width: 60px;
        font-size: 17px;
    }
    .item{
        width: 100%;
        margin-top: 20px;
    }
    .item-list{
        height: auto;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .box-a{
        height: auto;

        width: 45%;
    }
    .image{
        width: 100%;
    }
    .image img{
        width: 200px;
    }
    .box-b{
        height: auto;

        display: none;
    }
    .section{
        height: auto;
        width: 100%;
        
    }
    .section-1{
        height: auto;

        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .text-part-1{
        width: 100%;
    }
    .text-part-1 p{
        font-size: 17px;
    }
    .section-2{
        height: auto;
        width: 100%;
        display: flex;
        flex-wrap: wrap-reverse;

    }
    .image-part-2{
        width: 90%;
       
       


    }
    .text-part-2{
        width: 100%;
      
    }
    .text-part-2 p{
        font-size: 17px;
    }
    .section-3{
        height: auto;

        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .text-part-3{
        width: 100%;
    }
    .text-part-3 p{
        font-size: 17px;
    }
    .section-4{
        height: auto;

        width: 100%;
        display: flex;
        flex-wrap: wrap-reverse;
    }
    .image-part-4{
        width: 100%;
    }
    .text-part-4{
        width: 100%;
     

    }
    .text-part-4 p{
        font-size: 17px;
    }
    .section-5{
        height: auto;

        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .text-part-5{
        width: 100%;
    }
    .text-part-5 p{
        font-size: 17px;
    }
    .grid{
        height: auto;
        width: 100%;
    }
    .grid-part{
        height: auto;

        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .box-first{
        height: 400px;
        width: 100%;
    }
    .first-text{
        height: 100px;
        width: 100%;
        padding-right:20px;

    }
    .first-text h1{
        font-size: 24px;

    }
    .box-second{
       width: 50%;
       display: flex;
       align-items: center;
    }
    .box-third{
        width: 49%;
        display: flex;
        align-items: center;
    }
        
    .box-four{
       width: 50%;
       display: flex;
       align-items: center;
    }
    .box-five{
        width: 49%;
        display: flex;
        align-items: center;
    }

    .grid-button{
        display: block;
        height: 45px;
        width: 150px;
        margin-top: 20px;
        display: flex;
    }
    .grid-button button{
        height: 45px;
        width: 120px;
        border-radius: 30px;
        background-color: #FC9E47;
        border: none;
        color: white;
        font-size: 16px;

    }
    .service{
        height: auto;
        width: 100%;
        margin-top: 40px;
    }
    .service h1{
        font-size: 23px;
    }
    .service-section{
        height: 130px;

        width: 100%;
    }
    .service-section img{
        height: 130px;

        width: 100%;
    }
    .digit{
        height: 300px;
        width: 100%;
    }
    .digit-list{
        height: 300px;

        width: 90%;
        display: flex;
        flex-wrap: wrap;
    }
    .digit-list img{
        width: 80px;
    }
    .digit-list p{
        font-size: 14px;
    }
    .digit-list li:nth-child(2){
        padding-right: 30px;
    }
    .digit-button{
        display: block;
        height: 45px;
        width: 200px;
        margin-top: 20px;
        display: flex;
    }
    .digit-button button{
        height: 40px;
        width: 170px;
        border-radius: 30px;
        background-color: #FC9E47;
        border: none;
        color: white;
        font-size: 16px;

    }
    .last-page{
        width: 100%;
        margin-top: 40px;
    }
    .last-1{
        width: 100%;
    }
    .last-1 h1{
        font-size: 25px;
    }
    .last-1 input{
        width: 200px;
        font-size: 13px;
        padding-right: 30px;
    }
    .last-1 button{
        height: 40px;
        width: 120px;
        font-size: 13px;
    }
    .last-2{
        height: 1000px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-left: 20px;
    }
    .mac{
        width: 50%;
        
    }
   
    .list-second{

        width: 50%;
        padding-right: 90px;
    }
    .last-3{
        height: 400px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .last-logo{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    .last-logo img{
        
        width: 150px;
        
    }
    .mid-text{
        height:100px;
        width: 100%;
      
      
    }
    .mid-text h3{
        font-size: 19px;
    }
    .mid-text p{
        padding-left: 20px;
        font-size: 15px;
    }
    .txt{
        width: 50%;
        height: 60px;
    }
    .date{
        height: 100px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .date h5{
        font-size: 16px;
    }
    .date h1{
        font-size: 24px;
        padding-right: 30px;
    }
    .date p{
        font-size: 16px;
    }
    .copy{
        width: 100%;
    }
    .copy h3{
        font-size: 16px;
    }




}